
$red: rgba(245, 108, 108, 1);
$blue: rgba(4, 144, 215, 1);
$green: rgba(103, 194, 58, 1);
$yellow: rgba(255, 236, 64, 1);
$deep_yellow: rgba(230, 162, 60, 1);
$white: rgba(255, 255, 255, 1);
$gray: rgba(155, 166, 184, 1);
$light_gray: rgba(238, 238, 238, 1);
$black: rgba(53, 64, 82, 1);

$main_color: rgba(237, 28, 36, 1);
$secondary_color: rgba(230, 162, 60, 1);
$border_color: rgba(220, 220, 220, 1);
